<!doctype html>
<html>
<head>
    <title>吃货聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/src/css/index.css">
</head>
<body ng-app="chatApp" ng-controller="chatController">
    <div class="page-login page text-center" ng-style="{display: !user.loginstatus ? 'block' : 'none'}">
            <h2 class="col-xs-12">What's your nickname?</h2>
            <div class="col-xs-12">
                <input class="input-username h2 input-text" type="text" maxlength="14" ng-model="user.name " ng-keydown="room.login($event)">
            </div>
            <div class="col-xs-12" ng-show="!!user.errormsg">
                <p class="text-danger">{{user.errormsg}}</p>
            </div>

    </div>
    <div class="page-chat page" ng-style="{display: user.loginstatus ? 'block' : 'none'}">
        <div class="page-chat-container">
            <div class="header">
                <p class="title col-xs-12 h4">欢迎来到吃货组织根据地</p>
                <p class="col-xs-12"><span id="numUser" ng-bind="room.number"></span>人在线<a class="glyphicon glyphicon-user" href="#userlist"></a></p>
            </div>
            <div class="body">
                <div id="messages">
                    <p ng-repeat="data in room.messages">
                        <span ng-style='{color: data.coat}'>{{data.username}}</span>
                        <span>{{data.message}}</span>
                    </p>
                </div>
                <div id="notices">
                    <p class="notice" ng-repeat="notice in room.notices"  style="opacity: 1">
                        <span ng-style="{color: notice.coat}" ng-bind='notice.username'></span>
                        <span >{{notice.message}}</span>
                    </p>
                    <p class="notice" style="opacity: 1">欢迎来到吃货组织根据地</p>
                    <div class="cover"></div>
                </div>   
            </div>
            <div class="footer">
                <div class="col-xs-12">
                    <input type="text" class="input-message input-text" placeholder="Type here..." ng-model="user.message" ng-keydown="user.send($event)">
                </div>
            </div>
            <div class="popup">
                <ul id="userlist" class="list-unstyled">
                    <li ng-repeat="(username,coat) in room.userlist"><span ng-style="{color: coat}" ng-bind="username"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/public/src/js/index.js"></script>
</body>
</html>